canvas {
    display: inline-block;
    position: absolute;
    border: 1px solid #000;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
            
div#end {
    margin: auto;
	margin-left: 35%;
	margin-top: 13%;
	padding: 0%;
    width: 30%;
    height: 45%;
    color: #0f0;
    position: fixed;
    display: block;
    font-size: 26px;
    text-align: center;
}

#endgametext {
    display: block;
    height: auto;
}

#restart {
    margin: auto;
	margin-top: 0%;
	padding: 2%;
    width: 18%;
    height: 6%;
    display: block;
	background-color: purple;
}

#restart h3 {
	margin-top: -8%;
	padding: 0;
	clear: both;
	position: relative;
	font-size: 24px;
    text-align: center;
    color: orangered;
}

h1#title {
    width:20%;
    margin: auto;
    padding: 0%;
    text-align: center;
    font-size: 60px;
    color: green;
}

div#highscore {
	display: inline-block;
	width: 20%;
	height: 50%;
	margin-left: 75%;
	border: 2px solid blue;
	text-align: center;
}

div#highscore h2 {
	font-size: 28px;
	width: 80%;
	margin: auto;
	margin-top: 5%;
	color: yellowgreen;
}

div#highscore ol {
	margin: auto;
	margin-left: 32%;
	width: 6%;
}

div#highscore ol li {
	position: relative;
	text-align: right;
	list-style-type: none;
}