canvas#snake {
	width: 500px;
	height: 500px;
	border: 1px solid green;
	margin: auto;
	padding: 0px;
	display: block;
}

h1#title {
	margin: auto;
	width: 20%;
	height: auto;
	padding: 0px;
	display: block;
	text-align: center;
	font-size: 60px;
}

div#highscore {
	float: right;
	width: 25%;
	height: 50%;
	display: inline;
	position: absolute;
	margin-top: -36.68%;
	margin-left: 72%;
}

div#highscore h2 {
	text-align: center;
}