canvas {
    display: inline-block;
    position: absolute;
    border: 1px solid #000;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
            
div#end {
    margin: auto;
	margin-left: 35%;
	margin-top: 13%;
    width: 30%;
    height: 45%;
    color: #0f0;
    position: fixed;
    display: block;
    font-size: 26px;
    text-align: center;
}

#endgametext {
    display: block;
    height: auto;
}

#restart {
    margin: auto;
	padding: 2%;
    width: 18%;
    height: 6%;
    display: block;
	background-color: purple;
    border-radius: 8px;
    border: 2px solid yellow;
}

#restart h3 {
	margin-top: -8%;
	clear: both;
	position: relative;
	font-size: 24px;
    text-align: center;
    color: yellow;
    border: none;
}

h1#title {
    width:20%;
    margin: auto;
    text-align: center;
    font-size: 60px;
    color: green;
}

div#highscore {
	display: inline-block;
	width: 20%;
	height: 50%;
	margin-left: 75%;
	border: 2px solid white;
	text-align: center;
    border-radius: 8px;
    background-color: black
}

div#highscore h2 {
	font-size: 28px;
	width: 80%;
	margin: auto;
	margin-top: 5%;
	color: lawngreen;
}

div#highscore ol {
	margin:auto;
    background: deepskyblue;
    border: 2px solid black;
    border-radius: 8px;
}

div#highscore ol li {
	position:relative;
	text-align:right;
	list-style-type: decimal-leading-zero;
     background: skyblue;
    padding: 2px;
    margin-left: 80px;
    margin-right: 110px;
}
body{
    background-color: forestgreen;
}
#back2{
    position: absolute;
    width: 20%;
    height: 10%;
    margin-left: -91%;
    z-index: 1;
}
.ui-loader{
    display: none;
    /*
    visibility: hidden;
    */
}
div.ui-page {
    height: 80%;
}
*{
    overflow-y: hidden;
}